<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="light">
      About
    </ion-title>

    <ion-buttons slot="primary">
      <ion-button color="secondary" routerLink="/settings">
        <ion-icon slot="icon-only" name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <h2>
      <ion-text color="tertiary">DrinksApp</ion-text>
    </h2>

    <ion-card color="primary">
      <img alt="Silhouette of mountains" src="../../../../assets/card-media.png" />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>